body {
    /* to actually resize text on ios */
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
}

#main * {
    background-color: transparent;
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: #000;
}

.clock {
    margin-bottom: 0.1em;
    font-size: 6em;
    font-weight: 300;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 0.75em;
}
footer p, footer a {
    color: #dcdcdc;
}
footer a:hover {
    color: #c0c0c0;
}
