body {
   /* to actually resize text on ios */
   -webkit-text-size-adjust: 100%;
}
#main *, textarea {
   text-align: center;
   font-family: 'Muli', sans-serif;
   background-color: transparent;
}
.clock, .timer, .stopwatch, .countdown, .world {
   font-size: 100px;
   font-weight: 300;
   margin-bottom: 10px;
}
.clock {
    /* cursor: none; */
}
footer {
   width: 100%;
   position: fixed;
   bottom: 0;
}
footer p, footer a {
   font-family: 'Muli', sans-serif;
   font-size: 10px;
   text-align: center;
   color: #dcdcdc;
}
footer a:hover {
   color: #c0c0c0;
}
