/*************************************
 *  Page-specific styling should be  *
 * defined in the folder's page.css. *
 *************************************/

body {
   background-color: white;
}
h2 {
   font-family: 'Source Serif Pro';
   font-size: 40px;
   font-weight: 600;
}
p {
   font-family: 'Montserrat';
   font-size: 16px;
}
a {
   text-decoration: none;
}
/***************
 * NAV STYLING *
 ***************/

/* the bar thingy itself */
#fixed-navigation {
   background-color: #282828;
   -webkit-box-shadow: 0 0 8px 4px rgba(100,100,100,.5);
   -moz-box-shadow: 0 0 8px 4px rgba(100,100,100,.5);
   box-shadow: 0 0 8px 4px rgba(100,100,100,.5);
}
nav {
   width: 100%;
   max-width: 1080px;
   margin: auto;
   height: 100px;
   overflow: hidden;
   display: block;
}

/* menu button */
#menu-button {
   background-color: #e1e1e1;
   color: #282828;
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 700;
   padding: 15px;
   line-height: 200%;
   -webkit-border-radius: 7px;
   border-radius: 7px;
   margin-left: 9%;
   position: relative;
   top: -10px;
}
#menu-button img {
   width: 25px;
   position: relative;
   top: 5px;
   padding-right: 10px;
}

/* main header */
nav a h1 {
   font-family: 'Boogaloo';
   color: #ff5252;
   font-weight: normal;
   font-size: 40px;
   display: inline;
   line-height: 100px;
   margin-left: 15%;
   display: hidden;
}

/****************
 * MENU STYLING *
 ****************/
[off-canvas] {
   background-color: #202020;
}
.menu-links {
   display: block;
   padding: 16px 10px 20px 10px;
   border-bottom: 1px solid #282828;
   color: #e1e1e1;
   font-family: 'Montserrat';
   font-size: 20px;
}
.menu-links img {
   width: 25px;
   padding-right: 10px;
   position: relative;
   top: 4px;
}

/****************
 * MAIN STYLING *
 ****************/
#container {
   /* to make the shadows on the nav and footer show */
   background-color: transparent;
}

/* header */
h2 {
   color: #202020;
   margin: 6% 2% 0 6%;
}
p {
   color: #202020;
   margin: 2% 2% 0 6%;
}
/* buttons, if they exist */
#buttons {
   margin: 5% 0 40% 6%;
   float: left;
   width: 250px;
}
.button {
   background-color: #e1e1e1;
   color: #282828;
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 700;
   -webkit-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: 0 5px 6px 1px rgba(100,100,100,.4);
   -moz-box-shadow: 0 5px 6px 1px rgba(100,100,100,.4);
   box-shadow: 0 5px 6px 1px rgba(100,100,100,.4);
   display: block;
   margin-top: 0;
   width: 230px;
   padding: 15px;
   text-align: center;
}
.button span {
   color: #ff5252;
}
/******************
 * FOOTER STYLING *
 ******************/
footer {
   background-color: #282828;
   clear: both;
   margin-bottom: 100px;
   -webkit-box-shadow: 0 0 8px 4px rgba(100,100,100,.5);
   -moz-box-shadow: 0 0 8px 4px rgba(100,100,100,.5);
   box-shadow: 0 0 8px 4px rgba(100,100,100,.5);
   padding: 6%
}
footer section {
   width: 33%;
}

/* contact */
#contact {
   width: 33%;
}
#contact h2 {
   color: #e1e1e1;
}
#contact input, #contact textarea {
   width: 98%;
   margin-top: 2%;
   padding: 1%;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   border: 1px solid transparent;
}
#contact textarea {
   height: 10em;
}
#contact #submit {
   width: 100px;
}

/* logo */
#logo img {
   width: 50%;
   margin: 25%;
}

/* license */
#license {
   width: 33%;
}
#license-icons {
   width: 40%;
   margin: 0 30% 0 30%;
}
#license img {
   width: 40%;
   margin-left: 5%;
}
#license p {
   color: #e1e1e1;
   font-size: 12px;
   text-align: center;
}
#license a {
   color: #d1d1d1;
   text-decoration: underline;
}
#license a:hover {
   color: #c1c1c1;
}
#license a:visited {
   color: #a1a1a1;
}
