table {
  border-collapse: separate;
  border-spacing: 2px;
}
h1,h3,p,.license {
  font-family: "Source Sans Pro", "Arial", sans-serif;
}
.calculator {
  display: block;
  margin-left: 10%;
  width: 146px;
  border: 1px solid gray;
}
.buttons tr td {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  text-align: center;
  font-family: "Source Code Pro", "Consolas", monospace;
}
.store,.clearvar,.var {
  font-size: 10px;
}
.optext,.equation tr td p {
  font-family: "Source Code Pro", "Consolas", monospace;
}
.footer {
  display: block;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.license {
}
.html5 {
}