/* more specific styling for the index */
#main img {
   margin-top: 10%;
   width: 60%; /* or 765px */
   float: right;
   clear: left;
   -webkit-box-shadow: 0 5px 6px 3px rgba(100,100,100,.4);
   -moz-box-shadow: 0 5px 6px 3px rgba(100,100,100,.4);
   box-shadow: 0 5px 6px 3px rgba(100,100,100,.4);
}
footer {
   margin-top: 25%;
}
